#body {
	line-height: 1.5;
}

#body h1,
#body h2,
#body h3,
#body h4,
#body h5,
#body h6 {
	margin-bottom: .5rem;
	font-weight: 700;
}

#body h2 {
	font-size: 1.9rem;
}

#body h3 {
	font-size: 1.6rem;
}

#body h4 {
	font-size: 1.3rem;
}

#body p {
	margin-bottom: .7rem;
}

#body ol, #body ul, #body dl {
	margin-bottom: 1rem;
	padding-left: 40px;
}
